:root {
    --mainColor: #606b56;
    --secondaryColor: #515a48;

    --mainText: white;
    --secondaryText: #eeeeee;

    --borderColor: #161914;
    --themeDotBorder: white;

    --previewBackground: rgba(81, 90, 72, .8);
    --previewShadow: #2a2f25;

    --buttonColor: #669966;
}